# Set bluetooth power up
ACTION=="add", KERNEL=="ttyS1", TAG+="systemd", ENV{SYSTEMD_WANTS}="rtl8723bs-bt.service"
ACTION=="add", KERNEL=="hci0", TAG+="systemd", ENV{SYSTEMD_WANTS}="rtl8723bs-bt-power-on.service"
